<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Project Ecommerce Suite">

	<groups>
		<run>
			<!--<include name="Sanity" />
			<include name="Regression" />
			<include name="DataDriven" />-->
			<include name="Master" />
		</run>
	</groups>

	<listeners>
		<listener class-name="utility.ExtentReportUtility"></listener>
	</listeners>

	<test name="Project Ecommerce Tests">
		<parameter name="os" value="windows"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testcases.TC001_AccountRegistration" />
			<class name="testcases.TC002_Login" />
			<class name="testcases.TC003_DDTLogin" />
		</classes>
	</test>

</suite>
